.loginForm {
  width: 480px;
  margin: 5% auto;
  background-color: white;
  box-shadow: 0 0 4px -2px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
}

.title {
  font-size: 18px;
  color: white;
  background-color: #563d7c;
  padding: 12px 24px;
  text-transform: uppercase;
  margin: 0 0 8px 0;
}

.body {
  padding: 16px 24px 8px 24px;
}

.btnControl {
  padding: 8px 0;

  button {
    text-transform: uppercase;
    font-size: 15px;
  }
}
