.nav {
  height: 64px;
  font-size: 16px;
  border-bottom: 1px solid #E3E3E3;
  background-color: white;
  box-shadow: 0 0 6px -2px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 40px;
}

.icon {
  margin: 16px 0;
  cursor: pointer;
}
