.row {
  padding: 26px 0;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 28px;
    right: 28px;
    border-bottom: 1px dashed #E9E9E9;
  }

  &:last-of-type:after {
    border: 0;
  }
}

.leftPanel {
  text-align: center;
}

.avatar {
  width: 60%;
}

.icon {
  margin: 0 6px 0 0;
}

.userName {
  font-weight: bold;
}
